<app-common-homenavbar></app-common-homenavbar>

<body>
  <div class="container-fluid land-container">

    <div class="row brand-row">

      <div class="col-md-7 margin-auto">
        <h1 class="tagline" style="color: #fff;">One can not think well, love well, sleep well, if one has not dined
          well.</h1>
        <br>
        <button routerLink="/user/signin" class="btn btn-warning margin-auto">Join Now</button>
      </div>
      <br>

      <div class="col-md-5 margin-auto">
        <div class="card margin-auto brand-card">
          <div class="card-body">
            <p>
              We, with a vision "Connecting People To Their Souls By Providing Real Food As Experience"
              To Promote Happy And Healthy Community, are committed to providing 100% Pure Veg, Customized, Healthy,
              Tasty, Nutritious Meals
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div id="servicehref">
    <h2 class="text-center">WHAT WE OFFER</h2>
  </div>

  <div class="container-fluid land-container">
    <div class="row info-row">

      <div class="col-md-3 margin-auto">

        <div class="card info-card margin-auto">
          <img src="../../../../assets/images/veglogo.png" class="card-img-top logo margin-auto" alt="Veg">
          <div class="card-body">
            <h5 class="card-title">100% Pure Veg</h5>
            <p class="card-text">We use Rice bran oil, Basmati rice and Freshly bought vegetables in our kitchen.</p>
          </div>
        </div>

      </div>


      <div class="col-md-3 margin-auto">

        <div class="card info-card margin-auto">
          <img src="../../../../assets/images/cheflogo.png" class="card-img-top logo margin-auto" alt="Veg">
          <div class="card-body">
            <h5 class="card-title"> Science of Food Technology</h5>
            <p class="card-text">Food will be cooked under the supervision of Food Technology Experts.</p>
          </div>
        </div>

      </div>

      <div class="col-md-3 margin-auto">

        <div class="card info-card margin-auto">
          <img src="../../../../assets/images/customizelogo.png" class="card-img-top logo margin-auto" alt="Veg">
          <div class="card-body">
            <h5 class="card-title"> Easy Customization</h5>
            <p class="card-text">From tasty varieties of menu offered, we provide customer eat-as-you-own experience.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>


  <br>
  <div id="howitworkshref">
    <h2 class="text-center">HOW IT WORKS</h2>
  </div>

  <div class="container-fluid land-container">
    <div class="row info-row">

      <div class="col-md-3 margin-auto">

        <div class="card info-card-two margin-auto">
          <img src="../../../../assets/images/menucard.png" class="card-img-top logo margin-auto" alt="Veg">
          <div class="card-body">
            <h5 class="card-title">Customize Your Meal</h5>
            <p class="card-text">Customize your daily meal From the menu categories available for the day.</p>
          </div>
        </div>

      </div>


      <div class="col-md-3 margin-auto">

        <div class="card info-card-two margin-auto">
          <img src="../../../../assets/images/oven.png" class="card-img-top logo margin-auto" alt="Veg">
          <div class="card-body">
            <h5 class="card-title">Preparation</h5>
            <p class="card-text">Your chosen meal will be prepared in our centralized, hygienic kitchen under the
              observation.</p>
          </div>
        </div>

      </div>

      <div class="col-md-3 margin-auto">

        <div class="card info-card-two margin-auto">
          <img src="../../../../assets/images/deliverybike.png" class="card-img-top logo margin-auto" alt="Veg">
          <div class="card-body">
            <h5 class="card-title">Delivered</h5>
            <p class="card-text">Your food will be timely delivered at your place with LOVE.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<app-common-footer id="contacthref"></app-common-footer>
