<!-- customernavbar -->
<app-customernavbar></app-customernavbar>

<br>

<div class="container">

  <div class="row">

    <div class="col-md-12 center">

      <img src="../../../../assets/images/face.png">
      <br>
      <h3>John Doe</h3>

      <p class="grey-txt">Member since 23 Dec, 2018</p>
    </div>

  </div>

  <div class="row">


    <div class="col-md-6 center">

      <div class="card shadow box" style="width: 100%;">
        <div class="card-header" style="font-weight: bold;">
          Home Address
        </div>
        <div class="card-body">
          <p class="card-text">
            Flat no. 104 , Sunshine PG, Phase 1, Hinjewadi, Pune - 510102
          </p>
        </div>
      </div>

    </div>

    <div class="col-md-6 center">

      <div class="card shadow box" style="width: 100%;">
        <div class="card-header" style="font-weight: bold;">
          Work Address
        </div>
        <div class="card-body">
          <p class="card-text">
            Floor 5 , TCS , Phase 3, Hinjewadi, Pune - 510103
          </p>
        </div>
      </div>

    </div>



  </div>

  <div class="row">


    <div class="col-md-6 center">

      <div class="card shadow box" style="width: 100%;">
        <div class="card-header" style="font-weight: bold;">
          Contact Details
        </div>
        <div class="card-body">
          <p class="card-text">
            john@gmail.com
            <br>
            <br>
            86736 58210
          </p>
        </div>
      </div>

    </div>

    <div class="col-md-6 center">

      <div class="card shadow box" style="width: 100%;">
        <div class="card-header" style="font-weight: bold;">
          Payment Details
        </div>
        <div class="card-body">
          <p class="card-text">
            23XX XXXX XXXX XX96
            <br>
            <br>
            john@paytm
          </p>
        </div>
      </div>

    </div>
  </div>

  <br>

  <div class="row">

    <div class="col-md-4 center">
      <div class="card shadow card-btn" style="  background-image: linear-gradient(to bottom right, #acb6e5, #86fde8);
      ">
        <div class="card-body">
          <p class="card-text">
            Edit Profile
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 center">
      <div class="card shadow card-btn" style="  background-image: linear-gradient(to bottom right, #eeaeca, #94bbe9);
      ">
        <div class="card-body">
          <p class="card-text">
            Show Orders
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 center">
      <div class="card shadow card-btn" style="  background-image: linear-gradient(to bottom right, #ff9966, #ff5e62);
      ">
        <div class="card-body">
          <p class="card-text">
            Show Transactions
          </p>
        </div>
      </div>
    </div>

  </div>

</div>


<br>
<!-- footer -->
<app-common-footer></app-common-footer>
