<div class="container-fluid fullscreen">

  <div class="row " style="height: 100%;">

    <div class=" col-md-2  shadow" style="height: 100%;">

      <div class="center">
        <img class="logo" src="../../../../assets/logo_lunchbox.png">
      </div>

      <table style=" width: 100%;">

        <tr class="sidebar-row no-gutter">
          <td class="center">
            <img class="margin-auto" src="../../../../assets/images/add-menu-black.png">
          </td>
          <td style="text-align: left;">Add Menu</td>
        </tr>

        <tr class="sidebar-row ">
          <td class="center">
            <img class="margin-auto" src="../../../../assets/images/admin-black.png">
          </td>
          <td style="text-align: left;">Add Admin</td>
        </tr>


        <tr class="sidebar-row ">
          <td class="center">
            <img class="margin-auto" src="../../../../assets/images/menu-black.png">
          </td>
          <td style="text-align: left;">Update Menu</td>
        </tr>

        <tr class="sidebar-row">
          <td class="center">
            <img class="margin-auto" src="../../../../assets/images/order-black.png">
          </td>
          <td style="text-align: left;">Orders</td>
        </tr>

        <tr class="sidebar-row">
          <td class="center">
            <img class="margin-auto" src="../../../../assets/images/customer-black.png">
          </td>
          <td style="text-align: left;">Customers</td>
        </tr>

        <tr class="sidebar-row">
          <td class="center">
            <img class="margin-auto" src="../../../../assets/images/transaction-black.png">
          </td>
          <td style="text-align: left;">Transactions</td>
        </tr>

        <tr class="sidebar-row">
          <td class="center">
            <img class="margin-auto" src="../../../../assets/images/messages-black.png">
          </td>
          <td style="text-align: left;">Messages</td>
        </tr>

      </table>

    </div>

    <div class="col-md-10">
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table align="left">
              <tr>
                <td>
                  <img style="padding: 5px;" src="../../../../assets/images/dashmenu-black.png">
                </td>
                <td style="text-align: left; font-weight: bold;">Dashboard</td>
              </tr>
            </table>


            <table align="right">
              <tr>
                <td class="date">24 Jan, 2020, Friday </td>

                <td>
                  <img style="padding: 5px;" src="../../../../assets/images/logout-red.png">
                </td>
              </tr>
            </table>
          </div>
        </div>

        <br>
        <br>

        <div class="info-area">
          <app-dashboardhome></app-dashboardhome>
        </div>

      </div>

    </div>

  </div>

</div>
