<div class="container">

  <div class="row">

    <div class="col-md-3">
      <div class="card info-card margin-auto">
        <div class="card-body">
          <h5 class="card-title title">25</h5>
          <p class="card-text">Orders Today</p>
        </div>
      </div>
    </div>

    <br>

    <div class="col-md-3">
      <div class="card info-card margin-auto">
        <div class="card-body">
          <h5 class="card-title title">4</h5>
          <p class="card-text">New Customers</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card info-card margin-auto">
        <div class="card-body">
          <h5 class="card-title title">9</h5>
          <p class="card-text">Dinner Orders</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card info-card margin-auto">
        <div class="card-body">
          <h5 class="card-title title">16</h5>
          <p class="card-text">Dinner Orders</p>
        </div>
      </div>
    </div>

  </div>

  <br>


  <div class="row">

    <div class="col-md-6">
      <div class="card info-card-rect margin-auto">
        <div class="card-body">
          <h5 class="card-title title">8205 ₹</h5>
          <p class="card-text">Total Orders Amount Today</p>
        </div>
      </div>
    </div>



    <div class="col-md-6">
      <div class="card info-card-rect margin-auto">
        <div class="card-body">
          <h5 class="card-title title">12 %</h5>
          <p class="card-text">Growth In Orders Since Yesterday</p>
        </div>
      </div>
    </div>

  </div>


</div>
