<div class="container">

  <div class="row">

    <div class="col-md-3">
      <div class="card info-card margin-auto">
        <div class="card-body" routerLink='/owner/orders'>
          <h5 class="card-title title">
            {{todaysNumberOfOrders}}</h5>
          <p class="card-text">Orders Today</p>
        </div>
      </div>
    </div>

    <br>

    <div class="col-md-3">
      <div class="card info-card margin-auto">
        <div class="card-body" routerLink="/owner/customers">
          <h5 class="card-title title">
            {{todaysNumberOfNewUsers}}</h5>
          <p class="card-text">New Customers</p>  
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card info-card margin-auto">
        <div class="card-body" routerLink="/owner/orders">
          <h5 class="card-title title">{{todaysNumberOfLunchOrders}}</h5>
          <p class="card-text">Lunch Orders</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card info-card margin-auto">
        <div class="card-body" routerLink="/owner/orders">
          <h5 class="card-title title">{{todaysNumberOfDinnerOrders}}</h5>
          <p class="card-text">Dinner Orders</p>
        </div>
      </div>
    </div>

  </div>

  <br>


  <div class="row">

    <div class="col-md-6">
      <div class="card info-card-rect margin-auto">
        <div class="card-body">
          <h5 class="card-title title">{{todaysTotalSumOfOrders}} ₹</h5>
          <p class="card-text">Total Orders Amount Today</p>
        </div>
      </div>
    </div>



    <div class="col-md-6">
      <div class="card info-card-rect margin-auto">
        <div class="card-body">
          <h5 class="card-title title">12 %</h5>
          <p class="card-text">Growth In Orders Since Yesterday</p>
        </div>
      </div>
    </div>

  </div>


</div>
