<div class="container-fluid land-container">
  <div class="row footer-row">

    <div class="col-md-12 margin-auto">
      <br>
      <h1 style="text-align: center; color: #FFCA28 ;">At Your Service</h1>
      <a style="color: #F2F3F4 ;" href="http://tiny.cc/9sfuiz">Address: Phase 2, Hinjewadi Rajiv Gandhi Infotech
        Park, Hinjawadi, Pune, Maharashtra 411057</a>
      <br>
      <a style="color: #F2F3F4;" href="tel:+87965 32332=">Phone : 87965 32332</a>
      <br>
      <a style="color: #F2F3F4;" href="mailto:food@gmail.com">Email : food@gmail.com</a>
    </div>

    <div class="row margin-auto">
      <div class="col-md-4">
        <a href="https://www.facebook.com"><img alt="facebook" src="../../../../assets/images/facebook.png"></a>
      </div>
      <div class="col-md-4">
        <a href="https://www.instagram.com"><img alt="instagram" src="../../../../assets/images/instagram.png"></a>
      </div>
      <div class="col-md-4">
        <a href="https://www.twitter.com"><img alt="twitter" src="../../../../assets/images/twitter.png"></a>
      </div>
      <br>
      <br>
    </div>

  </div>
